name: create-playwright CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [18.x, 20.x]
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm i -g yarn@1
    - run: npm i -g pnpm@8
    - run: npm ci
    - run: npx playwright install-deps
    - run: npm run build
    - run: npx tsc --noEmit
    - run: npm run test -- --grep-invert yarn-berry
    - run: cd $HOME && yarn set version stable
    - run: npm run test -- --grep yarn-berry
